table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.main{
  display: block;
  width: fit-content;

  grid: auto; 
  grid-gap: 5px; 
  background-color: black; 
  padding: 1px; 
}
.gfg { 
  background-color: rgb(255, 255, 255); 
  text-align: center; 
  padding: 10px ; 
  font-size: 20px; 
} 